@{
    ViewBag.Title = "Åbne stillinger";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Besøgsven i Roskilde <br />
</address>

<address>
    <strong>HR:</strong>   <a href="mailto:hr@leute.dk">hr@leute.dk</a><br />
</address>